language: java
jdk:
  - openjdk8

# 오직 master 브랜치에 push될 때만 Travis CI를 수행
branches:
  only:
    - master

# 권한 추가
before_install:
  - chmod +x gradlew

# Travis CI 서버의 Home
# gradle을 통해 의존성을 받게 되면 이를 해당 디렉토리에 캐시하여, 같은 의존성은
# 다음 배포때부터 다시 받지 않도록 설정
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.gradle'

# master 브랜치에 푸시되었을 때 수행하는 명령어
script: "./gradlew clean build"

# CI 실행 완료 시 메일로 알람.
notifications:
  email:
    recipients:
      - apem5186@naver.com